[submodule "raylib"]
	path = 3rdparty/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "raygui"]
	path = 3rdparty/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "lua"]
	path = 3rdparty/lua
	url = https://github.com/lua/lua.git
[submodule "RmlUi"]
	path = 3rdparty/RmlUi
	url = https://github.com/mikke89/RmlUi.git
